*.o
*.ko
*.cmd

devel/old_tests/gpio/gpio_test
devel/old_tests/i2c/MPU9250_imu
devel/old_tests/i2c/BMP280_tp
devel/old_tests/i2c/STM32_adc
devel/old_tests/i2c/BME680_tphg
devel/old_tests/i2c/MCP9808_temp
devel/old_tests/i2c/SSD1306_oled
devel/old_tests/relay/relay_test
devel/old_tests/realtime/user_mode/rt_gpio_test
devel/old_tests/realtime/module/Module.symvers
devel/old_tests/realtime/module/modules.order
devel/old_tests/realtime/module/rt_gpio_test_module.mod
devel/old_tests/realtime/module/rt_gpio_test_module.mod.c
devel/old_tests/encoder/enc_test
devel/old_tests/proximity/proximity_test
devel/old_tests/mc/mc_test
devel/old_tests/mc/mc_test.log
devel/old_tests/current/current_test
devel/old_tests/button/button_test
