*.o
*.ko
*.cmd
*.swp

devel/tests/button/button_test
devel/tests/current/current_test
devel/tests/encoder/enc_test
devel/tests/env/env_test
devel/tests/imu/imu_test
devel/tests/mc/mc_test
devel/tests/oled/oled_test
devel/tests/proximity/proximity_test
devel/tests/relay/relay_test

devel/tests/zz_other/gpio/gpio_test
devel/tests/zz_other/i2c/MPU9250_imu
devel/tests/zz_other/i2c/BMP280_tp
devel/tests/zz_other/i2c/STM32_adc
devel/tests/zz_other/i2c/BME680_tphg
devel/tests/zz_other/i2c/MCP9808_temp
devel/tests/zz_other/i2c/SSD1306_oled
devel/tests/zz_other/realtime/user_mode/rt_gpio_test
devel/tests/zz_other/realtime/module/Module.symvers
devel/tests/zz_other/realtime/module/modules.order
devel/tests/zz_other/realtime/module/rt_gpio_test_module.mod
devel/tests/zz_other/realtime/module/rt_gpio_test_module.mod.c

body/body
body/body.log

body_test/bt
